
.logo_wrapper{
    text-align: left;
  }
  .p_header {
    background-color: #FFFFFF;
    padding: 10px 8px;
    height: 64px;
}
.p_header .row{
  align-items: center;
}
  .logo_wrapper svg {
    width: 88px;
  }
  ul li{
    list-style-type: none;
  }
  ol, ul, dl{
   margin: unset;
   padding: unset;
  }
.p_header ul li{
    display: inline-block;
}
.login_info {
    text-align: right;
}
.p_header .col-lg-6.col-md-6.col-sm-10 {
    width: 70%;
}
.p_header .col-lg-6.col-md-6.col-sm-2{
    width: 30%;
}
.iconLogin:hover,.iconLogin:hover{
    background: #F4F4F4;
}

.iconLogin {
  padding: 10px;
  padding: 8px 8px;
  width: 68px;
  border-radius: 8px;
  cursor: pointer;
}
